%p#notice= notice
%h1 Snapshots
= render partial: 'snapshots/snapshot_list_item', collection: @album.snapshots, as: :snapshot, locals: { album: @album }
%div
  = link_to 'Add snapshot', new_album_snapshot_path(@album)
