.snapshot-list-item
  .content
    = link_to annotated_snapshot_image_tag(snapshot, :thumb), album_snapshot_path(album, snapshot)
  .comment
    = snapshot.comment.gsub("\n", "<br/>").html_safe
  .links
    = link_to 'Edit',   edit_album_snapshot_path(album, snapshot)
    |
    = link_to 'Delete', album_snapshot_path(album, snapshot), method: :delete, confirm: "Really delete snapshot?"
